{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background:rgb(255, 255, 255); padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Login</h1>

    <form action="{{ path('app_login') }}" method="POST">
       <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="_username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="form-group mt-3">
        <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>
        </div>
    </form>
</div>
 
</div>
{% endblock %}
